header {
    .flex-middle {
        flex-direction: column;

        .logo {
            margin-top: 5px;
            
            img {
                width: 110px;
            }
        }
        
        .search {
            margin: auto;
            padding-bottom: 15px;
        }
    }
} 

.body {
    .intro {
        margin-bottom: 20px;
    }

    .albums-container {
        .albums {            
            &.flex-container {
                margin-right: -5px;
                margin-left: -5px;
            }

            .album {
                padding: 0 5px;
            }
        }

        h3 {
            margin-bottom: 20px;
        }
    }
}