header {
    .flex-middle {
        flex-direction: column;

        .logo {
            margin-top: 5px;
            
            img {
                width: 110px;
            }
        }
        
        .search {
            margin: auto;
            padding-bottom: 15px;
        }
    }
} 