* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Calibri", "Arial";
    background: #f3f3f3;
}

.page-width {
    max-width: 1200px;
    margin: auto;
}

.flex-middle {
    display: flex;
    align-content: center;
    align-items: center;
}

.mb10 { margin-bottom: 10px; }
.mb50 { margin-bottom: 50px; }
.pr15 { padding-right: 15px; }
.pl15 { padding-left: 15px; }
.gray { color: #777; }

.flex-container {    
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-left: -20px;
}

header {
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.15); 
    box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.15);
    background: #fff;

    .logo {
        display: inline-block;
    
        img {
            width: 130px;
        }
    }
    
    .search {
        position: relative;
        margin-left: auto;
    
        input {
            padding: 8px 10px 8px 40px;
            border: 1px solid #ccc;
            border-radius: 30px;
            width: 250px;
            
            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: #aaa;
                opacity: 1; /* Firefox */
            }
              
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: #aaa;
            }
            
            &::-ms-input-placeholder { /* Microsoft Edge */
                color: #aaa;
            }
        }
    
        .btn {
            position: absolute;
            top: 9px;
            left: 14px;
            color: #999;
        }
    }
}

.body {
    padding: 25px;

    .intro {

        .col {
            width: 50%;
            padding: 0 20px;
        }

        img {
            width: 100%;
            border-radius: 6px;
            -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.15); 
            box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.15);
        }

        h1 {
            margin: 0 0 20px;
        }
    }
}

.albums-container {

    h3 {
        text-transform: uppercase;
        margin-bottom: 30px;
        font-size: 16px;
    }

    .albums {

        .album {
            padding: 0 20px;
            margin-bottom: 30px;
            width: 20%;

            .picture {
                background-color: #777;
                position: relative;
                padding-top: 100%;
                
                img {
                    position: absolute;
                    width: 100%;
                    top: 0;
                    left: 0;
                }
            }

            .picture,
            .picture img {
                border-radius: 10px;
            }

            p {
                padding: 0;
                margin: 0;
                font-size: 14px;
            }
        }
    }
}